/*creamos un font-face para poder consumir una tipografia de manera loca en mi proyecto*/
@font-face{
    font-family: 'nasa';
    src: url('../assets/fonts/nasalization-rg.otf') format('opentype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'nasa', sans-serif;
}
/*comenzando el proceso de estilos de mi e-comerce*/
/*creando las variables de color para mi codigo*/
:root{
   --orange: rgb(252, 126, 23);
   --pale__orange: rgb(255, 221, 159);
   --dark__blue: rgba(2, 17, 34, 0.479);
   --dark__gray__blue: rgb(77, 82, 95);
   --gray__blue: rgb(247, 247, 247);
   --white: rgb(255, 255, 255);
   --black: rgb(20, 21, 22);
}
/*css responsive para pantalla de celulares*/
/*contenedor de mi pagina*/
.main-container{
    width: 375px;
    margin: auto;
    position: relative;
}
/*cabecera de mi pagina*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 24px;
}
.header__navigation{
    width: 175px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu{
    height: 28px;
}
.header__menu:hover{
    cursor: pointer;
}
/*cabecera de mi pagina trabajando con el cart y el avatar*/
.header__cart-avatar{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart{
    position: relative;
}
.header__cart:hover{
    cursor: pointer;
}
.header__cart img{
    width: 24px;
}
.header__cart--notification{
    background-color: var(--orange);
    width: 15px;
    height: 12px;
    border-radius: 16px;
    position: absolute;
    top: -2px;
    right: -5px;
    font-size: 0.6em;
    text-align: center;
    color: var(--white);
    display: none;
}
.header__avatar{
    width: 24px;
}
.header__avatar:hover{
    cursor: pointer;
    border: 2px solid var(--orange);
    border-radius: 50%;
}
/*menu para la vista pc*/
.navbar{
    width: 400px;
    display: none;
}
.navbar__items{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.navbar__items__link{
    text-decoration: none;
    color: var(--dark__gray__blue);
    display: block;
    height: 112px;
    padding-top: 42px;
}
.navbar__items__link:hover{
    border-bottom: 4px solid var(--orange);
}
/*menu para la vista movil*/
.modal-background{
    background-color: var(--dark__blue);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}
.modal__navbar{
    background-color: var(--white);
    width: 250px;
    height: 100%;
    padding: 20px 24px;

}
.modal__navbar__items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    list-style: none;
    margin-top: 50px;
}
.modal__navbar__items__link{
    text-decoration: none;
    color: var(--black);
    font-weight: 700;
    font-size: 1.1em;
}
.modal__navbar__icon:hover{
    cursor: pointer;
}
/*fin de los estilos del header y del los menu tanto para la vista desktop como para la vista movil*/

/*iniciando los estilos sobre el contenedor*/
/*comenzando con los estilos de la galeria para la vista movil*/
/*este constituye el contenedor de nuestro carrucel de imagenes en la vista movil*/
.gallery{
    position: relative;
}
.gallery__image-container{
    background-image: url(../assets/images/2.jpeg);
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -35px;
}
.gallery__image-container:hover{
    cursor: pointer;
}
/*a continuacion se trabaja sobre los botones de accion de nuestro carrucel de imagenes*/
.gallery__previous{
    background-color: var(--white);
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    left: 15px;
}
.gallery__next{
    background-color: var(--white);
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    top: 110px;
    right: 15px;
}
/*los thumnail deben estar ocultas en la vista movil ya que solo seran visibles para la vista de pc*/
.gallery__thumnails{
    display: none;
}
/*trabajando sobre los estilos del details*/
.details{
    padding: 24px;  
}
.details__games{
    color: var(--orange);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-bottom: 12px;
}
.details__title{
    font-size: 1.7em;
    margin-bottom: 16px;
    color: var(--black);
}
.details__description{
    font-size: 0.94em;
    color: var(--dark__gray__blue);
    line-height: 24px;
    margin-bottom: 24px;
}
/*modificando los estilos de la vista de precios para la vista movil*/
.details__prices{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
}
.details__now{
    font-size: 1.8em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 18px;
}
.details__discount{
    font-size: 0.5em;
    background-color: var(--pale__orange);
    color: var(--orange);
    padding: 3px;
    border-radius: 4px;
}
.details__before{
    font-weight: 600;
    color: var(--dark__gray__blue);
    text-decoration: line-through;
}
/*modificando los estilos del input de pedidos*/
.input{
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray__blue);
    border-radius: 10px;
    padding: 0 20px;
    margin-bottom: 24px;
}
.input__minus{
    width: 25px;
    padding: 2px;
    border-radius: 50%;
    background-color: var(--pale__orange);   
}
.input__minus:hover{
    cursor: pointer;
}
.input__plus{
    width: 25px;
    padding: 2px;
    border-radius: 50%;
    background-color: var(--pale__orange);
}
.input__plus:hover{
    cursor: pointer;
}
.input__number{
    width: 100%;
    border: none;
    background-color: var(--gray__blue);
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}
.input__number:focus{
    outline: none;
}
.details__button{
    background-color: var(--orange);
    width: 100%;
    height: 57px;
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-size: 0.9em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details__button *{
    padding: 0 15px;
}
.details__button:hover{
    cursor: pointer;
    opacity: 0.5;
}
/*fin de los estilos del details*/

/*creando los estilos del cart-modal*/
.cart-modal{
    width: 360px;
    height: 260px;
    box-shadow: 3px 3px 10px;
    position: absolute;
    top: 75px;
    background-color: var(--white);
    right: 6px; 
    border-radius: 8px;
    display: none;
   
}
.cart-modal--hide{
    display: block;
}
.cart-modal__title{
    font-weight: 600;
    padding: 24px;
    margin-bottom: 24px;
    border-bottom: solid 2px var(--dark__gray__blue);
}
.cart-modal__checkout-container{
    padding: 0 24px;
    color: var(--dark__gray__blue);
    font-size: 15px;
    letter-spacing: 1px;
    display: none;
}
.cart-modal__empty{
    padding: 30px;
    text-align: center;
    display: block;
}
.cart-modal__details-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.details-container__game{
    width: 50px;
    border-radius: 4px;
}
.cart-modal__price span{
    font-weight: 600;
    font-size: 18px;
    color: var(--black);
}
.cart-modal__delete:hover{
    cursor: pointer;
}
.cart-modal__checkout{
    background-color: var(--orange);
    width: 100%;
    height: 57px;
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-size: 0.9em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-modal__checkout:hover{
    cursor: pointer;
    opacity: 0.5;
}

/*creando los estilos del modal gallery*/
.modal-gallery__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark__blue);
    display: none;
}
.modal-gallery__close{
    position: absolute;
    top: 50px;
    right: 30%;
    padding: 7px;
    border-radius: 50%;
    background-color: var(--white);
}
.modal-gallery__close:hover{
    cursor: pointer;
    border: solid thin var(--orange);
    border-radius: 50%;
}
.modal-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.modal-gallery__image-container{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 440px;
    height: 440px;
    border-radius: 16px;
    margin-bottom: 32px;
    background-image: url(../assets/images/6.jpeg);
}
.modal-gallery__previous{
    position: absolute;
    top: 50%;
    left: -20px;
    background-color: var(--white);
    padding: 5px;
    border-radius: 50%;
}
.modal-gallery__previous:hover{
    cursor: pointer;
}
.modal-gallery__next{
    position: absolute;
    top: 50%;
    right: -20px;
    background-color: var(--white);
    padding: 5px;
    border-radius: 50%;
}
.modal-gallery__next{
    cursor: pointer;
}
.modal-gallery__thumnails{
    display: flex;
    justify-content: space-between;
    width: 440px;
}
.modal-gallery__thumnail{
    width: 20%;
    border-radius: 16px;
}
/*fin de mi modal-gallery*/


/*css responsive para pantalla de pc*/
@media screen and (min-width: 1115px){
    .main-container{
        width: 1115px;
    }
    /*cabecera para la vista de pc*/
    .header{
        height: 112px;
        border-bottom: 1px solid var(--gray__blue);
    }
    .header__navigation{
        width: 590px;
    }
    .header__menu{
        display: none;
    }
    /*cart avatar para la vista de pc */
    .header__cart-avatar{
        width: 125px;
    }
    .header__avatar{
        width: 40px;
    }
    /*mostrando el menu para la vista de pc*/
    .navbar{
        display: block;
    }
    /*fin del trabajo sobre la cabecera y menu para la vista desktop*/
    
    /*modificando el section class content para que los articles en su interior puedan visualizarse uno al lado del otro en la vista desktop*/
    .content{
        display: flex;
        justify-content: space-between;
        padding: 90px 20px;
        gap: 124px;
    }
    /*modificando el article details*/
    .details{
        padding-top: 90px;
        width: 446px;
    }
    .details__title{
        font-size: 2.7em;
        margin-bottom: 48px;
    }
    .details__description{
        font-size: 0.9em;
        margin-bottom: 37px;
    }
    .details__before, .details__now {
        width: 100%;
    }
    .details__product-quantity{
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    /*fin del article details*/

    /*estilos para el article gallery*/
    .gallery{
        width: 446px;
    }
    .gallery__image-container{
        border-radius: 16px;
        height: 446px;
        background-position-y: 0px;
        margin-bottom: 32px;
    }
    .gallery__thumnails{
        display: flex;
        justify-content: space-between;
    }
    .gallery__thumnail{
        border-radius: 16px;
        width: 20%;
    }
    .gallery__thumnail:hover{
        cursor: pointer;
        border: 2px solid var(--orange);
        opacity: 0.5;
    }
    .gallery__next, .gallery__previous{
        display: none;
    }
    /*fin de la galeria para la vista desktop*/
}


